<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skrb7f16.trashtocash">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrashToCash">
        <activity android:name=".ChatListActivity"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".MyCreditsActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".UserFeedPage" />
        <activity android:name=".UserFeedListActivity" />
        <activity android:name=".FeedPage" />
        <activity android:name=".NewsFeeds" />
        <activity android:name=".UserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>